@import "../../../sass/mixins.scss";

.courseinfo{
  background: url('../../../images/detail1.jpg') no-repeat center center/cover;

  &__overlay{
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1rem;
    min-height: calc(100vh - 100px);
  }
  
  &__loading{
    @include flexcenter-h;
    min-height: 100vh;

    & svg { color: #fff;}
  }

  &__details{
    color: #fff;
    &--head{
      @include heading;
      font-size: 5rem;
      text-align: center;
    }

    &--desc{
      margin: 0.5rem 0;
      font-size: 1.5rem;
      text-align: center
    }
    &--other{
      @include flexcenter-h;
      justify-content: space-between;
      & p{
        padding: 0.5rem;
        font-size: 1.5rem;
      }
    }
  }

  &__quiz{
    @include btn-primary;
    max-width: 400px;
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border: 1px solid $secondary-color;

    &:hover { border: 1px solid $light-color;}
  }
}


@media(max-width:768px){
  .courseinfo{
    &__overlay { padding: 0.5rem; }
    
    &__details{
      &--head{ font-size: 3rem;}
  
      &--desc{
        margin: 1rem 0;
        font-size: 1.25rem;
      }
      &--other{ & p { font-size: 1.25rem; } }
    }
    &__quiz { max-width: 200px; }
  }
}

@media(max-width:550px){
  .courseinfo{  
    &__details{
      &--head{
        font-size: 1.35rem;
        text-shadow: 1px 1px $secondary-color;
      }
  
      &--desc { font-size: 0.85rem; }
      &--other { & p{font-size: 0.85rem;} }
    }
  }  
}
