.Courses-Head{
  padding: 0 5rem;
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.Courses-Head h1{
  text-align: center;
  color: var(--secondary-color);
  text-shadow: 2px 2px #000;
  margin: 0;
}

.Courses-Content{
  display: grid;
  grid-template-columns: repeat(2,1fr) ;
  
}


.Courses-Text{
  border: 2px solid black;
  background: var(--secondary-color);
  height: 350px;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#fff;    
  text-shadow: 2px 2px #000;
}

.Courses-Image1,
.Courses-Image2{
  border: 2px solid black;
  background: #fff;
  height: 350px;
}

.Courses-Image1{
  background: url(./course1.jpg) center center/cover;
}
.Courses-Image2{
  background: url(./course2.jpg) center center/cover;
}

.Course-Reg button{
  width: 500px;
  border: 1px solid var(--secondary-color);
}

@media(min-width:2100px){

  .Courses h1{
    font-size: 6rem;
    margin: 1rem;
  }
  .Courses-Text,
  .Courses-Image1,
  .Courses-Image2{
    font-size: 2.25rem;
    height: 500px; ;
  }

  .Courses-Head p{
    font-size: 2rem;
  }
  .Courses-Head button
  {
    font-size: 1.5rem;
    padding: 1rem 2rem;
  }

}

@media(max-width:1100px){

  .Courses-Head {
    flex-direction: column;
  }

  .Courses-Head p,
  .Courses-Head button
  {
    margin-bottom: 1rem;
  }

  .Courses-Content{
    grid-template-columns: repeat(1,1fr) ; 
  }
  .Courses-Image1{
    display: none;
  }

  .Course-Reg button{
    width: 200px;
  }

}