/* Courses */

  .Grids {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #eee;
  }
  
  .Grids  .Grids-Container{
    display: grid;
    grid-template-columns: repeat(4,1fr) ;
    grid-gap:1.5rem ;
  }


@media(max-width: 1300px){
  .Grids  .Grids-Container{
    grid-template-columns: repeat(2,1fr) ;
  }
}

@media(max-width:650px){
  .Grids  .Grids-Container{
      grid-template-columns: repeat(1,1fr) ;
    }
}