.Grid{
  position: relative;
  height: 300px;
  width: 450px;
}


.Grid-Main , .Grid-Back-Content {
  position: absolute;
  height:  100% ;
  width: 100% ;
}


.Grid-Main:hover > .Grid-Front{
  transform: perspective(600px) rotateY(-180deg);
}
.Grid-Main:hover > .Grid-Back{
  transform: perspective(600px) rotateY(0deg);
}

.Grid-Front {
  position: absolute;
  transform: perspective(600px) rotateY(0deg);
  border: solid 2px var(--primary-color);
  height: 100%;
  width: 450px;
  background: url(./card1.jpg);
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  transition: all 1s;
  backface-visibility: hidden; /*Back of Card is visisble or not*/
}

.Grid-Back{
  backface-visibility: hidden;
  width: 450px;
  position: absolute;
  transform: perspective(600px) rotateY(180deg);
  border: solid 2px var(--secondary-color);
  height: 100%;
  background: #000;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  transition: all 1s;
}
.Grid-Overlay{
  text-align: center;
  background: rgba(0,0,0,0.5);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Grid-Overlay p{
  display: none;
}

.Grid-Back-Content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Grid-Back-Content p {
  font-size: 1.25rem;
  color:#fff;    
  text-shadow: 2px 2px var(--secondary-color);
  margin-bottom: 1rem;
}

/* For responsive */

@media(max-width:1920px){ 
  .Grid ,
  .Grid-Front,
  .Grid-Back
  { width: 300px; }
}
@media(max-width:1300px){
  .Grid ,
  .Grid-Front ,
  .Grid-Back
  { width: 450px; }

  .Grid-Overlay p{
    display: block;
    color: white;
  }

}



@media(max-width:1000px){ 
  .Grid ,
  .Grid-Front ,
  .Grid-Back
  { width: 300px;}
}



