.Profiles-Details{
  height: 95vh;
  color: #FFF;
  display: grid;
   grid-template-columns: repeat(2,1fr); 
}

.Instructor{
   background: url(./instructor.jpg)  center center/cover;
}

.Student{
   background: url(./student.jpg)  center center/cover;

  }


.Overlay{
  grid-row-start: 1;
  grid-row-end: 3;
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center; 
  height: 100%; 
  padding : 0 2rem;
  background-color: rgba(0, 0, 0, 0.5);
}

.Overlay h1{
  transform: scaleY(-2000px);
}

.Profiles-Details p{
  font-size: 1.5rem;
  margin: 1rem auto;
}

.Profiles-Add{
  height: 100%;
  background: red;
}
.Profiles-Manage{
  height: 100%;
  background: blue;
}
