.Profiles-Details{
  height: 90vh;
  color: #FFF;
  display: grid;
  grid-template-columns: repeat(2,1fr); 
}

.Profiles-Details p{
  font-size: 1.5rem;
  margin: 1rem auto;
}
.Instructor{
   background: url(./instructor.jpg)  center center/cover;
}

.Student{
   background: url(./student.jpg)  center center/cover;
  }


.Overlay{
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center; 
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.5);
}


.Profiles-Add{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(37, 41, 46, 0.9);
}


.Profiles-Manage{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(76, 76, 77, 0.65);
}

.Profiles-Manage p{
  font-size: 1rem;
  margin: 0.25rem; 
  padding: 0;
}

.Add-Form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Add-Form label,
.Add-Form input
{
  font-size: 0.9rem;
  margin: 0.5rem;
  font-family: 'Josefin Sans', sans-serif;
}

.Add-Form .TA{
  text-align: none;
  height: 75px;
  width: 300px;
  font-family: 'Josefin Sans', sans-serif;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.Add-Form .btn{

  border: 1px var(--secondary-color) solid;
}
.Profiles-Your{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-row-start: 1;
  grid-row-end: 3;
  background: rgba(76, 76, 77, 0.8);
}

@media(min-width:2100px){
  .Profiles-Details {
    height: 85vh;
  }
  .Profiles-Details p{
    font-size: 2.25rem;
  }
  .Overlay h1{
    font-size: 6.25rem;
    margin-bottom: 3rem;
  }

  .Overlay h2,
  .Profiles-Manage h1,
  .Profiles-Your h1,
  .Profiles-Add h1{
    font-size: 4rem;
    margin-bottom: 2rem;
  }

  .Add-Form label,
  .Add-Form input,
  .Add-Form .TA
  {
    font-size: 1.75rem;
    margin: 0.75rem;
  }

  .Add-Form .btn{
    margin-top: 2rem;
    padding: 1rem 2rem;
  }

}

@media(max-width:1100px){

  .Profiles-Details{
    grid-template-columns: repeat(1,1fr);
  }

  .Overlay{
    grid-row-start: 1;
    grid-row-end:  2;
  }

  .Profiles-Your{
    grid-row-start: 2;
    grid-row-end:  3;
  }
}

@media(max-width:800px){

  .Profiles-Details{
    height: 100vh;
  }

  .Profiles-Details p{
    font-size: 0.75rem;
    margin-bottom: 0.2rem;
  }
  .Overlay h1{
    font-size: 2rem;
    margin-bottom: 0.25rem;
  }

  .Overlay h2,
  .Profiles-Manage h1,
  .Profiles-Your h1,
  .Profiles-Add h1{
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  .Add-Form label,
  .Add-Form input,
  .Add-Form .TA
  {
    padding: 0.2rem;
    font-size: 0.75rem;
    margin: 0.25rem;
  }

  .Add-Form .TA{
    height: 50px;
    width: 200px;
  }

  .Add-Form .btn{
    margin: 0.5rem;
    padding: 0.5rem 0.75rem;
  }

}