.Profiles-Details{
  height: 90vh;
  color: #FFF;
  display: grid;
  grid-template-columns: repeat(2,1fr); 
}

.Profiles-Details p{
  font-size: 1.5rem;
  margin: 1rem auto;
}
.Instructor{
   background: url(./instructor.jpg)  center center/cover;
}

.Student{
   background: url(./student.jpg)  center center/cover;
  }


.Overlay{
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center; 
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.5);
}

.Overlay h1{
  transform: scaleY(-2000px);
}


.Profiles-Add{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(37, 41, 46, 0.9);
}

.Profiles-Manage{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(23, 97, 160, 0.9);
}

.Add-Form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Add-Form label,
.Add-Form input
{
  font-size: 0.9rem;
  margin: 0.5rem;
}

.Add-Form .TA{
  text-align: none;
  height: 75px;
  width: 300px;
  font-family: 'Josefin Sans', sans-serif;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.Add-Form .btn{

  border: 1px var(--secondary-color) solid;
}
.Profiles-Your{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-row-start: 1;
  grid-row-end: 3;
  background: rgba(23, 97, 160, 0.9);
}

