/* Main Dabba */

.Showcase {
  
  height: 95vh;
  color: #000;
  background: url(./main.jpg)  top/cover;
  background-attachment: fixed;
}

.Showcase .Showcase-container{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center; 
  height: 100%; 
  padding : 0 2rem;
  background-color: rgba(0, 0, 0, 0.2);
}

.Showcase .Showcase-container a{
  margin: 2rem;
}
.Showcase p{
  color: #fff;
  font-weight: 1000;
}

@media(max-width:750px){

  .Showcase{
    background: url(./main.jpg)  center/cover;
  }
  
  }
  
  @media(min-width:2100px){
  
    .Showcase h1{
      font-size: 6rem;
      margin-bottom: 3rem;
  
    }
  
    .Showcase p{
      font-size: 2rem;
    }
  
  
  }