/* Course */
#course  .course-container{
  grid-template-columns: repeat(2,1fr) ;
}

/* Footer */
#main-footer .footer-content .footer-main{
  flex-direction: column;
}

#main-footer .footer-content .footer-main .social{
margin: 1rem auto ;
}

/* Popup */
.popup .l-heading{
  font-size: 1rem;
}

.popup-login .popup{
  width: 250px;
}

.popup-login .popup .popup-content{
  padding: 0.5rem;
  margin: 0.5rem auto;
}

 .form-set{
  max-width: 150px;
  padding: 0;
}

.form-set input,
.form-set label{
  font-size: 0.75rem;
  max-width: 150px;
} 

.popup-login .popup .popup-content input[type="submit"]{
  width: 150px;
}

@media(max-width:350px){
  .form-set input,
  .form-set label,
  .popup-login .popup .popup-content input[type="submit"]{
    font-size: 0.75rem;
    width: 100px;
  }
}


@media(max-width:650px){
/* Navbar */
  #navbar .container{
    flex-direction: column;
  }

  #navbar .logo img{
    margin: 1rem auto;
  }

/* Grids */
  #course  .course-container{
    grid-template-columns: repeat(1,1fr) ;
  }

/* Footer */
  #main-footer .footer-content .footer-main .btn{
    padding: 0.5rem ;
  }
  
}