@import "../../../../sass/mixins.scss";

.navbar{
  @include flexcenter-h;
  height: 100px;
  background: $primary-color;
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  justify-content: space-between;
  
  &__logo {
    height: 100px;
    width: 200px;
    background: url(../../../../images/logo.png) no-repeat center center/cover;
    margin-left: 1rem;
  }
  &__links{
    @include flexcenter-h;
    padding: 1rem;

    & li{
      cursor: pointer;
      color: #fff;
      padding: 0.75rem;
      font-size: 1.25rem;
      transition: 0.5s;
      margin: 0 0.5rem;
      box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
      
      &:hover { background:$secondary-color; }
    }
  }
}


@media(max-width:768px){
  .navbar{
    &__logo {
      height: 80px;
      margin: 10px 0;
      width: 140px;
      background: url(../../../../images/logo.png) no-repeat center center/cover;
    }
    &__links{
      @include flexcenter-h;
      padding: 0.5rem;
  
      & li {
        padding: 0.5rem;
        font-size: 1rem;
        margin: 0 0.5rem;
      }
    }
  }
}