@import "../../../sass/mixins.scss";

.grid{
  position: relative;
  height: 300px;
  width: 300px;
  margin: 2rem 1rem;

  &:hover .grid__front{
    transform: perspective(600px) rotateY(-180deg);
  }
  &:hover .grid__back{
    transform: perspective(600px) rotateY(0deg);
  }

  &__front{
    position: absolute;
    transform: perspective(600px) rotateY(0deg);
    border: solid 2px $primary-color;
    height: 100%;
    width: 100%;
    background: url(../../../images/card1.jpg);
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    transition: all 1s;

    &--overlay{
      @include flexcenter-v;
      background: rgba(0,0,0,0.5);
      height: 100%;
      width: 100%;

      & h3 { 
        @include heading-font; 
        color: #fff;
        font-size: 1.75rem;
        margin-bottom: 2rem;  
      }

      & p{ display: none; }
    }
  }

  &__back{
    position: absolute;
    backface-visibility: hidden;
    height: 100%;
    width: 100%;
    transform: perspective(600px) rotateY(180deg);
    border: solid 2px $secondary-color;
    background: #000;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    transition: all 1s;

    &--content{
      @include flexcenter-v;
      position: absolute;
      height:  100% ;
      width: 100% ;
      & p{
        font-size: 1.25rem;
        color:#fff;    
        text-shadow: 2px 2px $secondary-color;
        margin-bottom: 1rem;
      }

      & button{
        padding: 0.75rem 1rem;
        font-size: 1rem;
        background: $secondary-color;
        transition: 0.4s;
        
        &:hover{
          background: #fff;
        }
      }
    }
  }
}


@media(max-width:1024px){
  .grid{ 
    &__front { 
      & p { 
        display: block; 
        color: #fff;
      } 
    } 
  }
}

@media(max-width:500px){.grid { margin: 1rem 0; } }