@import "../../../sass/mixins.scss";

.quizinfo{
  background: url('../../../images/repeat3.png');
 
  &__overlay{
    background-color: rgba(0, 0, 0, 0.85);
    padding: 1rem;
    min-height: calc(100vh - 100px);
  }
  
  &__loading{
    @include flexcenter-h;
    min-height: 100vh;

    & svg { color: #fff;}
  }

  &__details{
    color: #fff;
    &--head{
      @include heading;
      font-size: 4rem;
      text-align: center;
    }

    &--other{
      display: grid;
      grid-template-columns: 3fr 1fr;
      margin: 1rem 0;
      font-size: 2rem;

      &--time{
        margin-left: 1rem;
        display: flex;
        justify-content: flex-end;
        
        & svg{
          font-size: 1.75rem;
          margin-right: 0.5rem;
        }
      }
    }
  }

  &__add{
    @include btn-primary;
    border: 1px solid $secondary-color;
    padding: 0.85rem 1.7rem;
    font-size: 1.75rem;
    
    &:hover{
      border: 1px solid #fff;
    }
  }

  &__empty{
    border: 3px solid $secondary-color;
    border-radius: 20px;
    padding: 1rem;
    background :$light-color;
    text-align: center;
    font-size: 1.5rem;
    max-width: 400px;
    margin: 7.5rem auto;
  }
}

@media(max-width:1024px){
  .quizinfo{
    background: url('../../../images/repeat3.png');
    
    &__details{
            
      &--head{ font-size: 3rem;}
  
      &--other{
        font-size: 1.5rem;
  
        &--time { & svg { font-size: 1.25rem; }
        }
      }
    }
  
    &__add{
      padding: 0.65rem 1.5rem;
      font-size: 1.5rem;
    }
  
    &__empty { margin: 11.5rem auto; }
  }  
}

@media(max-width:550px){
  .quizinfo{
   
    &__overlay { padding: 10px; }
  
    &__details{
      &--head { font-size: 1.5rem; }
  
      &--other{
        @include flexcenter-v;
        margin: 1rem 0;
        font-size: 1rem;
        text-align: center ;
  
        &--time{
          margin: 0.75rem 0;
          & svg{
            font-size: 0.9rem;
            margin-right: 0.25rem;
          }
        }
      }
    }
  
    &__add { @include btn-primary; }
  
    &__empty{
      font-size: 1rem;
      margin: 9rem auto;
      max-width: 200px;
    }
  }  
}
