@import "../../../sass/mixins.scss";

.leaderboard{
  background: url(../../../images/repeat5.png) repeat;

  &--overlay{
    @include flexcenter-v;
    justify-content: flex-start;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.45);
    height: 100%;
    min-height: calc(100vh - 100px);
    padding: 1rem;
  }

  &--loading{
    margin: 5rem 0;
    
    & svg { color: #fff;}
  }

  &--head{
    @include heading;
    font-size: 3.5rem;
    margin: 1.75rem 0;
  }
  
  &--list{
    border: 5px solid #000;
    width: 90%;

    &--item,&--itemfirst{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      background: #000;
      color: #fff;
      border: 3px solid $secondary-color;
      padding: 1rem;
      & p{
        text-align: center;
        font-size: 1.25rem;
      }
    }

    
    &--itemfirst{
      background-color: $light-color;
      color: #000;
    }
  }
}

@media(max-width:550px){
  .leaderboard{
    &--overlay{ padding: 1rem 0; }
  
    &--head{
      @include heading;
      font-size: 1.75rem;
      margin: 1.25rem 0;
    }
    
    &--list{
      border: 5px solid #000;
      width: 97.5%;
  
      &--item,&--itemfirst{
        grid-template-columns: 1fr 1fr 2fr;
        & p{
          text-align: center;
          font-size: 0.85rem;
        }
      }
    }
  }
}