@import "../../../sass/mixins.scss";

.subs{
  background: url(../../../images/repeat4.jpg) repeat;
  background-position: 0px 0px; 
  background-attachment: fixed;

  &__container{
    @include flexcenter-v;
    justify-content: flex-start;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.55);
    height: 100%;
    min-height: calc(100vh - 100px);

    &--head{
      @include heading;
      font-size: 4rem;
      margin: 4rem 0;
    }
    
    &--loading{
      margin: 5rem 0;
      
      & svg { color: #fff;}
    }

    &--empty{
      border: 3px solid #fff;
      border-radius: 20px;
      padding: 1rem;
      background :#000;
      text-align: center;
      font-size: 1.5rem;
      margin: 7.5rem 0;
    }

    &--list{
      margin: 1rem 0;
      width: 70%;
    }
  }
}

@media(max-width:1024px){
  .subs{ &__container{ &--empty{ margin: 11.5rem 0; } } }
}


@media(max-width:550px){
  .subs{
    &__container{
      min-height: calc(100vh - 50px);
      
      &--head{
        @include heading;
        font-size: 2.5rem;
        margin:1rem 0;
      }
      
      &--list { width: 90%; 
      }

      &--empty{
        font-size: 1rem;
        margin: 9rem 0;
      }
    }
  }
}
