@import "../../../sass/mixins.scss";

.courses{
  background: url(../../../images/repeat1.jpg) repeat;
  background-position: 0px 0px; 
  background-attachment: fixed;

  &__container{
    @include flexcenter-v;
    justify-content: flex-start;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.65);
    height: 100%;
    min-height: calc(100vh - 100px);
    
    &--head{
      @include heading;
      font-size: 5rem;
      margin: 2rem 0;
    }
    
    &--loading{
      margin: 5rem 0;
      
      & svg { color: #fff;}
    }

    &--empty{
      border: 3px solid #fff;
      border-radius: 20px;
      padding: 1rem;
      background :#000;
      text-align: center;
      font-size: 1.5rem;
      margin: 7.5rem 0;
    }

    &--add{
      @include btn-primary;
      padding: 1rem 2rem;
      font-size: 2rem ;
      border: 1px solid $secondary-color;

      &:hover { border: 1px solid $light-color;}
    }

    &--list{
      margin: 1rem 0;
      width: 70%;

      &--head{
        @include flexcenter-h;
        @include heading-font;
        margin: 1rem 0;
        text-shadow: 2px 2px #000;
        font-size: 2.5rem;

        & svg{
          margin-left: 1.5rem;
          font-size: 2.5rem;
        }
      }
    }
  }
}


@media(max-width:1024px){
  .courses{ &__container{ &--empty{ margin: 11.5rem 0; } } }
}

@media(max-width:550px){
  .courses{
    &__container{
      min-height: calc(100vh - 50px);
      
      &--head{
        @include heading;
        font-size: 2.5rem;
        margin:1rem 0;
      }
      
      
      &--add{
        padding: 0.75rem 1.5rem;
        font-size: 1rem ;
      }
  
      &--list {
        width: 90%;
        
        &--head{ 
          font-size: 1.75rem; 
          
          & svg{ font-size: 1.5rem;}
        } 
      }

      &--empty{
        font-size: 1rem;
        margin: 9rem 0;
      }
    }
  }
}